@import "zen";
@import "front_box";
@import "ellipsis";
@include multiline-ellipsis(7.1em, 1.2em, 10%);

$zen-column-count: 15; // Set the total number of columns in the grid.
$zen-gutter-width: 10px; //Set the gutter size. A half-gutter is used on each side of each column.

$box-font-size: 1.2em;
$box-padding: 0.2em;

h2 {
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.banner {
  width: 100%;
  text-align: center;
}

p, h3 {
  margin: 0.5em 0;
}

hr.clear {
  border: none;
  padding-top: 0.5em;
  border-bottom: 1px solid #fff;
}

.container {
  @include zen-grid-container; // Apply this mixin to the container.
  height: 768px;
  width: 1536px ;
  margin:  auto;
}

.fixed-font {
  font-size: $box-font-size;
}

.news {
  @include zen-grid-item(6, 1); // Apply this mixin for each grid item in the container.
  height:  66%;
  padding: $box-padding;
  .inner {
    @include front_box(#3f8dc0);
  }

}

.nested {
  @include zen-grid-item(9, 7);
  @include zen-nested-container();
  height:  66%;
}

.resources {
  @include zen-grid-item(10, 6);
  height:  50%;
  padding: $box-padding;
  .inner {
    @include front_box(#de462d);
  }
}

.quicktip {
  @include zen-grid-item(5, 11);
  height:  50%;
  padding: $box-padding;
  .inner {
    @include front_box(#e8a838);
  }
}

.government {
  @include zen-grid-item(5, 1);
  height:  50%;
  padding: $box-padding;
  .inner {
    @include front_box(#222222);
  }
}

.events {
  @include zen-clear(); // Apply this mixin to start a new row.
  @include zen-grid-item(10, 1);
  height:  50%;
  padding: $box-padding;
  .inner {
    @include front_box(#3fa873);
  }
}

.simoftheday {
  @include zen-clear(); // Apply this mixin to start a new row.
  @include zen-grid-item(9, 1);
  height:  33%;
  padding: $box-padding;
  .inner {
    @include front_box(#767676);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-right: 30%;
  }
}

.join {
  @include zen-grid-item(6, 10);
  height:  33%;
  padding: $box-padding;
  .inner {
    @include front_box(#65a6e8);
  }
}

#page {
  max-width:none;
  background-color: transparent;
}

@media screen and (max-width: 1600px) {
  .container {
    @extend .container-base;
    height: 640px;
    width: 1280px;
  }

  .fixed-font{
    font-size: $box-font-size*1600/1920;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    @extend .container-base;
    height: 576px;
    width: 1152px;
  }

  .fixed-font{
    font-size: $box-font-size*1440/1920;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    @extend .container-base;
    height: 512px;
    width: 1024px;
  }

  .fixed-font{
    font-size: $box-font-size*1280/1920;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    @extend .container-base;
    height: 410px;
    width: 820px;
  }

  .fixed-font{
    font-size: $box-font-size*1024/1920;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .container {
    height: 800px;
    width: 100%;
  }

  .fixed-font{
    font-size: $box-font-size*1440/1920;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .container {
    height: 512px;
    width: 100%;
  }

  .fixed-font{
    font-size: $box-font-size*1024/1920;
  }
}

.ellipsis a, a {
  color: #ff9;
}