@import "compass_twitter_bootstrap_awesome";
@import 'rounded';

body {
  background-color: #080808;
  color: #ffffff;
  padding:4em 2em 2em 2em;

}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

#page {
  max-width: 1200px;
  //min-width: 850px;
  margin: auto;
  background-color: #111;
  @include rounded_all(5px);
  padding: 1em;
}

article {
  color: #333333;
  background: #fff;
  @include rounded_all(5px);
  padding: 1em;
}


/*nav {
  font-size: 0.8em;
  height: 2em;

  span {
    display: block;
    text-align: center;
  }

  span.left {
    float: left;
  }

  span.right {
    float: right;
  }


  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0 10px;
      display: inline;
    }
  }
}*/


.socials {
  padding: 10px;
}

.navbar-container {
  padding-left: 1em;
}

.brand {
  padding: 0.13em 0 0.13em 0.4em !important;
}
