@import "compass_twitter_bootstrap_awesome";
body {
  background-color: #222222;
  color: #ffffff;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

/*nav {
  font-size: 0.8em;
  height: 2em;

  span {
    display: block;
    text-align: center;
  }

  span.left {
    float: left;
  }

  span.right {
    float: right;
  }


  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0 10px;
      display: inline;
    }
  }
}*/


.socials {
  padding: 10px;
}