<form action="{{ path('webb_ship_ship_create') }}" {{ form_enctype(form) }} method="POST" class="ship_ship_create">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'ship.submit'|trans({}, 'WebbShipBundle') }}" />
    </div>
</form>
