{% extends '::base.html.twig' %}


{% block title %}{{ ship.name }}{% endblock %}

{% block body %}

    {% block header %}

    {% endblock %}


    {% block toplinks %}
        <div id="motd-header-links">
            {% set main_menu = knp_menu_get( 'WebbShipBundle:Builder:mainMenu' , [], {'ship': ship.shortname, 'fleet': fleet.shortname}) %}
            {{ knp_menu_render(main_menu) }}
        </div>

    {% endblock %}

    {% block boxes %}
    {% endblock boxes %}


    {% block roster %}

        {{ render(controller('WebbShipBundle:Ship:showRoster', {'ship': ship})) }}

    {% endblock roster %}

{% endblock %}
