{% extends '::base.html.twig' %}


{% block title %}{{ ship.name }}{% endblock %}

{% block body %}

    {% block header %}

    {% endblock %}


    {% block toplinks %}
        <div id="motd-header-links">
            {{ knp_menu_render('WebbShipBundle:Builder:mainMenu') }}
        </div>

    {% endblock %}

    {% block boxes %}
    {% endblock boxes %}


    {% block roster %}

        {{ render(controller('WebbShipBundle:Ship:showRoster', {'ship': ship})) }}

    {% endblock roster %}

{% endblock %}
