<form action="{{ path('webb_news_article_edit', {'id' : id}) }}" {{ form_enctype(form) }} method="POST" class="news_article_edit">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'article.submit'|trans({}, 'WebbNewsBundle') }}" />
    </div>
</form>
